@import "admin/lib/utils";
 h1{
     font-size:1.8em !important;
     margin-bottom:5px;
 }
h3{
    font-size:1.3em;
}
.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    zoom: 1;
}
#content .link-container a{
    color: #7F7F7F;
    font-weight: bold;
    padding: 5px 15px 5px 15px;
    border-top: 1px solid #dcdcdc;
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    border-left: 1px solid #CCC;
    margin-left: -5px;
    display: inline-block;
    background: #dfdfdf;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.25, #ffffff), color-stop(1, #dfdfdf));
    background: -moz-linear-gradient(center top, #ffffff 25%, #dfdfdf 100%);
    background: -o-linear-gradient(top, #ffffff 25%, #dfdfdf 100%);
    background: -ms-linear-gradient(top, #ffffff 25%, #dfdfdf 100%);
    background: linear-gradient(top, #ffffff 25%, #dfdfdf 100%);
}

#content .link-container > a:first-child {
    margin-left: 0;
    -webkit-border-top-left-radius: 7px;
    -moz-border-radius-topleft: 7px;
    border-top-left-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-bottomleft: 7px;
    border-bottom-left-radius: 7px;
}

#content .link-container > a:last-child{
    -webkit-border-top-right-radius: 7px;
    -moz-border-radius-topright: 7px;
    border-top-right-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -moz-border-radius-bottomright: 7px;
    border-bottom-right-radius: 7px;
}
#content .link-container a:hover, #content .link-container a:active,#content a.active-toggle{
    background: #dfdfdf;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.25, #ffffff), color-stop(1, #dfdfdf));
    background: -moz-linear-gradient(center top, #dfdfdf 25%, #ffffff 100%);
    background: -o-linear-gradient(top, #ffffff 25%, #dfdfdf 100%);
    background: -ms-linear-gradient(top, #ffffff 25%, #dfdfdf 100%);
    background: linear-gradient(top, #ffffff 25%, #dfdfdf 100%);
    color: #7F7F7F;

}
.slider_date {
    display: none;
}
.tooltip-ul{
  padding:0px;
   margin: 0px;
  list-style-type:none;
}
.tooltip-ul li{
  line-height:1.2em;
}

.left-label{
  clear:both;
  width:50%;
  text-align: right;
  float:left;
}
.right-label{
  width:45%;
  margin-left: 5px;
  float:left;
}

