@import "admin/lib/utils";
 h1{
     font-size:1.8em !important;
     margin-bottom:5px;
 }
h3{
    font-size:1.3em;
}
.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    zoom: 1;
}
#content .link-container a{

    font-weight: bold;
    padding: 5px 15px 5px 15px;
    border-top: 1px solid #dcdcdc;
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    border-left: 1px solid #CCC;
    margin-left: -5px;
    display: inline-block;
    background: #dfdfdf;
    background-image: linear-gradient(bottom, rgb(240,240,240) 5%, rgb(153,153,153) 49%, rgb(153,153,153) 46%);
    background-image: -o-linear-gradient(bottom, rgb(240,240,240) 5%, rgb(153,153,153) 49%, rgb(153,153,153) 46%);
    background-image: -moz-linear-gradient(bottom, rgb(240,240,240) 5%, rgb(153,153,153) 49%, rgb(153,153,153) 46%);
    background-image: -webkit-linear-gradient(bottom, rgb(240,240,240) 5%, rgb(153,153,153) 49%, rgb(153,153,153) 46%);
    background-image: -ms-linear-gradient(bottom, rgb(240,240,240) 5%, rgb(153,153,153) 49%, rgb(153,153,153) 46%);

    background-image: linear-gradient(bottom, rgb(230,227,230) 5%, rgb(135,135,135) 50%, rgb(153,153,153) 57%);
    background-image: -o-linear-gradient(bottom, rgb(230,227,230) 5%, rgb(135,135,135) 50%, rgb(153,153,153) 57%);
    background-image: -moz-linear-gradient(bottom, rgb(230,227,230) 5%, rgb(135,135,135) 50%, rgb(153,153,153) 57%);
    background-image: -webkit-linear-gradient(bottom, rgb(230,227,230) 5%, rgb(135,135,135) 50%, rgb(153,153,153) 57%);
    background-image: -ms-linear-gradient(bottom, rgb(230,227,230) 5%, rgb(135,135,135) 50%, rgb(153,153,153) 57%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.05, rgb(230,227,230)),
        color-stop(0.5, rgb(135,135,135)),
        color-stop(0.57, rgb(153,153,153))
    );
    border:1px solid #777474;
    color:#000;
    box-shadow: 3px 3px 1px #888888;


}

#content .link-container > a:first-child {
    margin-left: 0;
    -webkit-border-top-left-radius: 7px;
    -moz-border-radius-topleft: 7px;
    border-top-left-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-bottomleft: 7px;
    border-bottom-left-radius: 7px;
}

#content .link-container > a:last-child{
    -webkit-border-top-right-radius: 7px;
    -moz-border-radius-topright: 7px;
    border-top-right-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -moz-border-radius-bottomright: 7px;
    border-bottom-right-radius: 7px;
}
#content .link-container a:hover, #content .link-container a:active,#content a.selected{
    background-image: linear-gradient(bottom, rgb(237,237,237) 18%, rgb(184,182,184) 59%);
    background-image: -o-linear-gradient(bottom, rgb(237,237,237) 18%, rgb(184,182,184) 59%);
    background-image: -moz-linear-gradient(bottom, rgb(237,237,237) 18%, rgb(184,182,184) 59%);
    background-image: -webkit-linear-gradient(bottom, rgb(237,237,237) 18%, rgb(184,182,184) 59%);
    background-image: -ms-linear-gradient(bottom, rgb(237,237,237) 18%, rgb(184,182,184) 59%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.18, rgb(237,237,237)),
        color-stop(0.59, rgb(184,182,184))
    );
    color:#000;
    border:1px solid #777474;
    box-shadow: 3px 3px 1px #888888;
}
.slider_date {
    display: none;
}
.tooltip-ul{
  padding:0px;
   margin: 0px;
  list-style-type:none;
}
.tooltip-ul li{
  line-height:1.2em;
}

.left-label{
  clear:both;
  width:50%;
  text-align: right;
  float:left;
}
.right-label{
  width:45%;
  margin-left: 5px;
  float:left;
}

