<div class="psm_header clearfix">
    <div class="psm_header_l">
        <div class="psm_name"><strong>Category Analysis</strong></div>
        <div class="psm_breadcrumb">
            <ul>
                <% for name,url in @ancestory%>
                    <% if name == @ancestory.keys.last %>
                    <li><a class="active" href="<%= url%>"><span><%= name%></span><span class="d_arrow"></span></a></li>
            <%else%>
                    <li><a href="<%= url %>"><span><%= name%></span><span class="d_arrow"></span></a></li>
            <% end %>
            <% end %>
            </ul>

        </div>
    </div>
    <div class="psm_header_r" id="button-container">
        <div id="back-forward" class="link-container">

        </div>
    </div>
</div>

