@import "admin/lib/utils";


.psm_header{
  padding: 5px 10px 5px 10px;
  background:#f0f0f0;
  border:1px solid #cccccc;
   @include border-radius(5px);

  .psm_header_l{
    padding:5px 0px 2px 0px;
    float: left;
    .psm_name{
      border-right:1px solid #B3B3B3;
      padding-right:30px;
      padding-bottom:5px;
      float:left;
      font-size: 1.5em;
      line-height: 21px;
    }
    .psm_breadcrumb{
      float: left;
      padding-left:10px;
      padding-top: 3px;
        ul{
          margin: 0px;
          padding: 0px;
          li{
                float:left;
                list-style: none;
                a{
                    float: left;
                    color:#7F7F7F !important;
                    span{float:left;}
                    span.d_arrow{
                      margin: 8px 0px 0px 5px;
                      width: 0px;
                      height: 0px;
                      border-left: 5px solid transparent;
                      border-right: 5px solid transparent;
                      border-top: 5px solid #7F7F7F;
                      visibility:hidden;
                    }
                  &.active{
                         font-weight: bold;
                         span.d_arrow{
                           visibility: visible;
                         }
                  }

                }
          }
        }
    }
  }
  .psm_header_r{
      float:right;
      .link-container{
        float:left;
      }
      .link-container:first-child{
        border-right:1px solid #B3B3B3;
        padding-right: 10px;
        margin-right: 10px;
      }
      .psm_fromto{
        width:170px;
        display:inline-block;
        text-align:center;
      }
  }

}


.psm_graph_container{
    width:100%;
    padding:25px 0px 20px 0px;
    .growth-note{
      float: left;
    }
    .psm_graph_container_l{
      float: left;
      width:20%;
      min-height:646px;
      border-right:1px solid #cecece;
      .cumulative-graph-stats-wrapper {
         text-align: center;
        padding:20px 20px 0px 0px;
        table{
          border:1px solid #cecece;
          caption{
            background:none;
            color:#999999;
            font-weight: bold;
            font-size:1.2em;
          }
          tr:nth-child(odd) {
            background-color: #efefef;
          }
          td:nth-child(odd){
            width:70%;
            border-right:1px solid  #cecece;
          }
        }
      }
    }
  .psm_graph_container_r{
    float:left;
    width:79%;
    h4{
      float: left;
      width:72px;
    }
    .highcharts-legend{
      position:relative;
      right:-20px;
      width:100px;
    }
  }

}
#content #simulate{
  @include linear-gradient($startColor: #3B5998, $stopColor: #35aae0);
  color:#ffffff;
  padding:5px 10px;
  font-size: 1.2em;
  border:1px solid #1DC2F0;
  font-weight:normal;
}
.psm-left-label{
  clear:both;
  width:20%;
  text-align: right;
  float:left;
}
.psm-right-label{
  width:75%;
  margin-left: 5px;
  float:left;
}
#content a#simulate:hover{
  @include linear-gradient($startColor: #35aae0, $stopColor: #3B5998);
}

#back-forward a:hover{
  color: #003DFF;
}
.clear-btn{
  float:right;
}
 .hidden{
     display:none;
 }
.period-stat{
left: 10px;
top: 10px;
font-weight: bold;
font-size: 1.2em;
color: #C60F0F;
}
