@import "admin/lib/utils";

.calender_color_patch{
  width: 7px;
  height: 7px;
  background: #5E2D65;
}

.fl{
  float:left;
}
.fr{
  float:right;
}
.psm_header{
  padding: 5px 10px 5px 10px;
  background:#f0f0f0;
  border:1px solid #cccccc;
   @include border-radius(5px);

  @include linear-gradient($startColor: #f0f0f0, $stopColor: #bfbdbd);

  .psm_header_l{
    padding:5px 0px 2px 0px;
    float: left;
    .psm_name{
      border-right:1px solid #B3B3B3;
      padding-right:30px;
      padding-bottom:5px;
      float:left;
      font-size: 1.5em;
      line-height: 19px;
    }
    .psm_breadcrumb{
      float: left;
      padding-left:10px;
      padding-top: 2px;
        .bc_separator{
          width:20px;
          float: left;
          text-align: center;
          }
        ul{
          margin: 0px;
          padding: 0px;
          li{
                float:left;
                list-style: none;

                a{
                    float: left;
                    color:#162F54 !important;
                    font-size: 1.1em;
                    span{float:left;}
                    span.d_arrow{
                      margin: 8px 0px 0px 5px;
                      width: 0px;
                      height: 0px;
                      border-left: 5px solid transparent;
                      border-right: 5px solid transparent;
                      border-top: 5px solid #7F7F7F;
                      visibility:hidden;
                    }
                  &.active{
                         font-weight: bold;
                         color:#162F54 !important;
                         span.d_arrow{
                           visibility: visible;
                         }
                  }

                }
          }
        }
    }
  }
  .psm_header_r{
      float:right;
      .link-container{
        float:left;
      }
      .link-container:first-child{
        border-right:1px solid #B3B3B3;
        padding-right: 10px;
        margin-right: 10px;
      }
      .psm_fromto{
        width:170px;
        background: #f0f0f0;
        display:inline-block;
        text-align:center;
        font-weight: bold;
        padding:5px 0px;
        border:1px solid #cecece;
      }
  }

}

.psm_graph_container{
    width:100%;
    padding:25px 0px 20px 0px;
    position: relative;
    .legend_txt{
      position: absolute;
      right:28px;
      top:10px;
      z-index:999999;
    }
      .growth-note{
      float: left;
    }
    .psm_graph_container_l{
      float: left;
      width:20%;
      min-height:646px;
      border-right:1px solid #cecece;
      .cumulative-graph-stats-wrapper {
         text-align: center;
        padding:20px 20px 0px 0px;
        table{
          border:1px solid #cecece;
          caption{
            background:#162F54;
            color:#ffffff;
            font-weight: bold;
            font-size:1.2em;
          }
          tr:nth-child(odd) {
            background-color: #efefef;
          }
          td:nth-child(odd){
            width:60%;
            border-right:1px solid  #cecece;
          }
        }
      }
    }
  .psm_graph_container_r{
    float:left;
    width:79%;
    h4{
      float: left;
      width:72px;
    }
    .highcharts-legend{
      position:relative;
      right:-20px;
      width:100px;
    }
  }

}
#content #simulate{
  @include linear-gradient($startColor: #3B5998, $stopColor: #35aae0);
  color:#ffffff;
  padding:5px 10px;
  font-size: 1.2em;
  border:1px solid #1DC2F0;
  font-weight:normal;
}
.psm-left-label{
  clear:both;
  width:15%;
  text-align: left;
  float:left;
}
.psm-right-label{
  width:75%;
  margin-left: 5px;
  float:left;
}
#content a#simulate:hover{
  @include linear-gradient($startColor: #35aae0, $stopColor: #3B5998);
}

#back-forward a:hover{
  color: #003DFF;
}
.clear-btn{
  float:right;
}
 .hidden{
     display:none;
 }
 .simulate-btn{
   float: right;
   padding:20px 10px 0px 20px;
 }
.period-stat{
left: 10px;
top: 10px;
font-weight: bold;
font-size: 1.2em;
color: #C60F0F;
}
.product_category{
  height:600px;
  margin-left: 200px;
  .pc_header{
    @include linear-gradient($startColor: #f0f0f0, $stopColor: #bfbdbd);
    .pc_breadcrumb{
      display: inline-block;
      padding:10px 10px;
    }
    }
  .pc_list_wrapper{
    padding:15px 15px;
    table{
      margin:0px;
      padding: 0px;
      th{
      @include linear-gradient($startColor: #fcdf97, $stopColor: #fcd979);
       border-bottom:1px solid #a06603;
      }
      td{
        color: #cecece;
        padding:10px 5px 4px 5px;
      }
    }

  }
}
.product_category_list{
  position: absolute;
  width:200px;
  .sub_category_1{
    display:none;
  }
  .pcl_portlet{
    margin:10px 0px 0px 0px;
    border:1px solid #BCBCBC;
    .pcl_portlet_header{
      padding:5px  6px;
      @include linear-gradient($startColor: #f0f0f0, $stopColor: #BFBDBD);
      font-weight: bold;
    }
    .pcl_portlet_content{
      max-height:300px;
      overflow:auto;
      li{
        padding:5px 6px;
        background: none;
        border:1px solid #dddddd;
        label{
          padding-left: 10px;
        }
      }

    }
  }
  ul{
    margin:0px;
    padding:0px;

    list-style-type:none;
    li{
      cursor:pointer;
      height:20px;
      padding:5px 5px;
      background:#FDDE41;
      border:1px solid #EDBE1A;
      font-weight:bold;
      li{
         position:relative;
         left:195px;
         top:-24px;
      }
      &:hover{
        .sub_category_1{
          display:block;
        }
      }
    }
  }
}
