/*---------------------------------------------------
    LESS Elements 0.8
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/

.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    zoom: 1;
}
.chart-container,
.simulator-container {
  width: 90%;
  margin: 0 auto;
  position:relative;
    padding-left:40px;
}
.psm_col{
    padding: 5px 0px;
    float: left;
    text-align: center;
    width:16.5%;
    background:#f0f0f0;
    margin-right:0.1%;
}
.replenishment-select-box {
  padding-left:68px;
  padding-top:20px;
}
.replenishment-txt,.range-txt{
    position: relative;
    left:-40px;
    top:67px;
    font-weight: bold;
}
.range-txt{
    top:26px;
}

.range-sel-wrapper{
  padding-bottom: 10px;
  padding-left:68px;
}
.range-sel-wrapper  ul{
    margin:0px;
}
.replenishment-select-box .spinner {
  /*margin-left: 120px;    */
    width:74px;
}
.range-sel-box {

    margin: 0 auto;
    position:relative;
    position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding-bottom:20px;
}
.range-sel-box ul {
  list-style: none;
  padding: 0;
}
.range-sel-box li {
  display: inline-block;
  position: relative;
}
.range-sel-box .date {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 1px;
  border: 2px solid #fff;
  background-color: #cccccc;
  -ms-box-sizing: 'content-box';
  -moz-box-sizing: 'content-box';
  -webkit-box-sizing: 'content-box';
  box-sizing: 'content-box';
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.range-sel-box .date:hover {
  background-color: #8c8c8c;
}
.range-sel-box .week-start .date {
  margin-left: 20px;
}
.range-sel-box .date-sel .w0 {
  background-color: #ff0000;
}
.range-sel-box .date-sel .w1 {
  background-color: #ff5500;
}
.range-sel-box .date-sel .w2 {
  background-color: #ffaa00;
}
.range-sel-box .date-sel .w3 {
  background-color: #ffff00;
}
.range-sel-box .date-sel .w4 {
  background-color: #aaff00;
}
.range-sel-box .date-sel .w5 {
  background-color: #55ff00;
}
.range-sel-box .date-sel .date {
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  -webkit-opacity: 0.8;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
  filter: alpha(opacity=80);
}
.range-sel-box .date-sel .date:hover {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  cursor: default;
}
.range-sel-box .date-start .w0,
.range-sel-box .date-end .w0 {
  background-color: #ff0000;
}
.range-sel-box .date-start .w1,
.range-sel-box .date-end .w1 {
  background-color: #ff5500;
}
.range-sel-box .date-start .w2,
.range-sel-box .date-end .w2 {
  background-color: #ffaa00;
}
.range-sel-box .date-start .w3,
.range-sel-box .date-end .w3 {
  background-color: #ffff00;
}
.range-sel-box .date-start .w4,
.range-sel-box .date-end .w4 {
  background-color: #aaff00;
}
.range-sel-box .date-start .w5,
.range-sel-box .date-end .w5 {
  background-color: #55ff00;
}
.range-sel-box .date-start .date,
.range-sel-box .date-end .date {
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  -webkit-opacity: 0.8;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
  filter: alpha(opacity=80);
}
.range-sel-box .date-start .date:hover,
.range-sel-box .date-end .date:hover {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  cursor: default;
}
.range-sel-box .date-start .date,
.range-sel-box .date-end .date {
  border-color: #111;
}
.btn {
  background: #89DCFC;
  border: 1px solid #02B8FF;
  border-radius: 3px;
  padding: 5px 10px;
  display: inline-block;
}
.pull-right {
  float: right;
}
.promo-bubble {
  z-index:99999;
  position: absolute;
  top: 20px;
  left: -90px;
  padding: 10px;
  width: 180px;
  -ms-box-sizing: 'border-box';
  -moz-box-sizing: 'border-box';
  -webkit-box-sizing: 'border-box';
  box-sizing: 'border-box';
  background: #fff;
  border: 1px solid #8c8c8c;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.promo-bubble .txt-box {
  width: 25px;
}
.promo-bubble :after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #fff;
  position: absolute;
  top: -10px;
  left: 90px;
}
.promo-bubble :before {
  content: "";
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 12px solid #8c8c8c;
  position: absolute;
  top: -12px;
  left: 88px;
}

.calendar_promo a{
  background-color: #EA26DC !important;
  border: 1px solid #C31820 !important;
}
