#treemap-div {
    text-align: center;
    width: 800px;
    height: 600px;
    font-family: Arial;
    font-size: 11px;
    margin : auto;
    border:2px solid;
}
.weekly_range{
    height:40px;
    margin:inherit;
    float:right;
}

.legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}
div.legend-scale{
    position:absolute;
    top:360px;
    left:1%;
    display: block;
    z-index:9999;

}
.legend-scale p{
    width:200px;
    color:#807777;
}
.legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
}
.legend-scale ul li {
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 10px;
    width:200px;
}
ul.legend-labels li .circle {
    float:left;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #0000ff;
    border:1px solid #cecece;
}
ul.legend-labels  .legend-txt{
    float: left;
    padding: 3px 0px 0px 5px;
}
#treemap-div{
    bottom:0px;
    clear:both;
}

.assortment_map_container{
    position:relative;
}
.centered{
    margin:auto;
    width:300px;
}
.tooltip-ul{
    padding:0px;
    list-style-type:none;
}
.tooltip-ul li{
    line-height:0.7em;
}

.left-label{
    clear:both;
    width:50%;
    text-align: right;
    float:left;
}
.right-label{
    width:45%;
    margin-left: 5px;
    float:left;
}
.treemap-node a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    width:100%;
    height:100%;
}
.treemap-node a:hover{
    background: rgba(0,0,0,0.15);
}

