<%= javascript_include_tag 'admin/script' %>


<%= stylesheet_link_tag "admin/pages/promotion_simulator/promotional_simulator"%>
<div class="range-sel-box">
  <span class="range-txt">Period:</span>
  <div class="range-sel-wrapper clear">
    <ul>
      <li class="psm_col">14-Jan-2013<br/> to<br/>20-jan-2013</li>
      <li class="psm_col">14-Jan-2013<br/> to<br/>20-jan-2013</li>
      <li class="psm_col">14-Jan-2013<br/> to<br/>20-jan-2013</li>
      <li class="psm_col">14-Jan-2013<br/> to<br/>20-jan-2013</li>
      <li class="psm_col">14-Jan-2013<br/> to<br/>20-jan-2013</li>
      <li class="psm_col">14-Jan-2013<br/> to<br/>20-jan-2013</li>
    </ul>
  </div>
</div>
