<div id="promotion-type" class="promo-bubble">
    <form >

       <p>
         <label><input id="quantity" type="radio" name="group1" value="Quantity"  onclick="alert('hello');" > Quantity</label>
         <label><input id="percentage" type="radio" name="group1" value="Percentage"  onclick="alert('hi');"> Percentage</label>
       </p>
      <p>
        <input type="text" id="PromotionQty" class="txt-box" style="display:none"/>
        <input type="text" id="PromotionPercentage" class="txt-box" style="display:none"/>
      </p>
    </form>
</div>
