<%= javascript_include_tag 'admin/script' %>
<link rel="stylesheet" href="/assets/admin/style.css"/>
<link rel="stylesheet" href="/assets/admin/css3mixin.css"/>
<div class="range-sel-box">
  <ul id="slider">
    <% for i in 0..41 %>
    <li><a href="javascript:void(0);"  class="date" "></a><div class="slider_date"><%=i%></div></li>
        <% end %>
</ul>
</div>


