Promotion Simulator

Product: <%= params[:product_id] %>
blabh

<script>
        alert('hello');
    $(document).ready(function(){
        alert('hello');
    });
</script>

<div id="container">

</div>

