
<%= stylesheet_link_tag "admin/pages/promotion_simulator/promotion_simulator" %>
<h2>Choose a Product to simulate</h2>

<div class="product_category_list">
  <ul>
    <li>Laptop Accessories
      <ul class="sub_category_1" >
        <li >   Pen Drives
        </li>
      </ul>
    </li>

    <li>Cameras
      <ul class="sub_category_1">
        <li> Product Not Available
        </li>
      </ul></li>
    <li>Books
      <ul class="sub_category_1">
        <li> Product Not Available
        </li>
      </ul>
    </li>
    <li>Gaming
      <ul class="sub_category_1">
        <li> Product Not Available
        </li>
      </ul>
    </li>
    <li>Sports and Fitness
      <ul class="sub_category_1">
        <li> Product Not Available
        </li>
      </ul>
    </li>
  </ul>
  <div class="pcl_portlet">
    <div class="pcl_portlet_header">
      BRANDS:
    </div>
    <div class="pcl_portlet_content">
      <ul>
        <li><input type="checkbox" /><label>HP</label></li>
        <li><input type="checkbox" /><label>SONY</label></li>
        <li><input type="checkbox" /><label>DELL</label></li>
        <li><input type="checkbox" /><label>ACER</label></li>
        <li><input type="checkbox" /><label>TOSHIBA</label></li>
        <li> <input type="checkbox" /><label>SANDISK</label></li>
        <li><input type="checkbox" /><label>IBALL</label></li>
        <li><input type="checkbox" /><label>ZEBRONICS</label></li>
        <li><input type="checkbox" /><label>AMKETTE</label></li>
        <li><input type="checkbox" /><label>ENTER</label></li>
        <li><input type="checkbox" /><label>MOSERBAER</label></li>
        <li><input type="checkbox" /><label>INTEX</label></li>

      </ul>
    </div>
  </div>
  <div class="pcl_portlet">
    <div class="pcl_portlet_header">
      INTERFACE:
    </div>
    <div class="pcl_portlet_content">
      <ul>
        <li><input type="checkbox" /><label>USB 2.0</label></li>
        <li><input type="checkbox" /><label>USB 3.0</label></li>


      </ul>
    </div>
  </div>
</div>
<div class="product_category">
  <div class="pc_header">
    <span class="pc_breadcrumb">
        Laptop Accessories > Pen Drives
     </span>

  </div>
  <div class="pc_list_wrapper">
    <table>
      <tr>
        <th> All Pen Drives  </th>
        <th> Featured  </th>
        <th> New Arrivals</th>
      </tr>
      <tr>
        <td> <a href="/admin/promotion_simulator/product/1060500711/14/01/2013">HP USB Flash Drive V270w / V270b (White & Yellow)</a></td>
        <td>  HP V-165 W 8 GB Pen Drive (Blue)   </td>
        <td>  Sandisk CZ53 8GB Pen Drive (White)  </td>
      </tr>

      <tr>
        <td>  Toshiba Hayabusa 8GB Pen Drive</td>
        <td> Sony Micro Vault Tiny USM8GM Pen Drive  </td>
        <td> Transcend JetFlash 500 8GB Pen Drive (Red)</td>
      </tr>
      <tr>
        <td> Transcend JetFlash 500 16GB Pen Drive (Green) </td>
        <td> Sony Micro Vault Tiny USM16GM Pen Drive  </td>
        <td>  Kingston DTIG3-8GB Pen Drive</td>
      </tr>
      <tr>
        <td> Moserbaer USB Drives 4GB swivel Pen Drive  </td>
        <td>  HP V-115 W 8 GB Pen Drive  </td>
          <td> iBall Hiphop (Black) </td>
      </tr>
      <tr>
        <td> Transcend JetFlash 500 8GB Pen Drive (Green) </td>
        <td>  HP V-165 W 4GB Pen Drive </td>
        <td>  Kingston DTIG3-8GB Pen Drive</td>
      </tr>
      <tr>
        <td>  Kingston DataTraveler 108 8 GB Pen Drive </td>
        <td>  Moserbaer Knight 16GB Pen  </td>
        <td> Sony Micro Vault Tiny USM16GM Pen Drive </td>
      </tr>
      <tr>
        <td> HP V-270 16GB Pen Drive  </td>
        <td> Transcend JetFlash 500 8GB Pen Drive  </td>
        <td> Transcend JetFlash 500 16GB Pen Drive </td>
      </tr>
      <tr>
        <td>  Sony Micro Vault Tiny USM8GM/B 8GB Pen Drive  </td>
        <td>  </td>
        <td>  </td>
      </tr>
      <tr>
        <td>  HP V 228 G 16GB Pen Drive   </td>
        <td> </td>
        <td> </td>
      </tr>




    </table>
  </div>
</div>
